---
import  Section  from '../Section.astro'
import {projects} from '@/resume.json'

---
<Section title="Projects">
    <ul>
        {projects.map(({url,description,name,highlights}) => {



            return (
            <li>
                <article>
                    <header>
                        
                        <a href={`${url}`} title={`Ver el proyecto ${name}`} target="_blank" >{name}
                        </a>
                    </header>
                    <p>{description}</p>
                    <footer>
                            {highlights.map((highlight) => (
                                <span>{highlight}</span>
                            ))}

                    </footer>

                </article>
           
            </li>
            )
        } 
            
        )}
    </ul>
</Section>
<style>
    ul{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
        gap: 1rem
    }
    article{
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        border: 1px solid #f2f2f2;
        gap: 1rem;
        padding: 1rem;
        height: 100% ;
    }
    article header{
        /* flex: 1; */
        margin-bottom: 1rem;
    }
    article h3{margin-bottom: 1rem;}
    article a:hover{
        text-decoration: underline;
    }
    article p{
        font-size: .9rem;
        line-height: 1.2;
    }
    footer{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex: 1;
        font-size: .7rem;
        gap: 0.5rem;
    }
    footer span{
        background-color: #eee;
        color: #333333b4;
        padding: 0.5rem;
        border-radius: 4px;
        font-size: .6rem;
        font-weight: 500;
        padding: 0.5rem .6rem;
        
    }
        
</style>